In [ ]:
# Tuple is a immutable data type
# it is Represented  with ()_Parenthesis
# tuple can accept any update :- int,float,str

In [1]:
a=(1,5,9,10,23)  # save in memory
print(a)      # calling the Memory

(1, 5, 9, 10, 23)

In [2]:
print(type(a))

<class 'tuple'>

In [3]:
x=(250,456,78,'satish')
print(x)
print(type(x))

(250, 456, 78, 'satish')
<class 'tuple'>

In [4]:
x=('kiran','sai',2500)
print(x)
print(type(x))

('kiran', 'sai', 2500)
<class 'tuple'>

In [ ]:
# tuple is immutable datatype

In [7]:
num=(1,6,9,10,2,5)
print(num[::-1])

(5, 2, 10, 9, 6, 1)

In [8]:
a=('sai','sandeep',45)
print(a[::-1])

(45, 'sandeep', 'sai')

In [9]:
# Build_in_function

In [10]:
# count
a=(1,5,10,20,5,8,11,21)
print(a.count(5))

2

In [11]:
x=(10,20,30,40,50,89,20,55,20)
print(x.count(20))

3

In [12]:
# index
x=(10,20,30,40,50,89,20,55,20)
print(x.index(20))

1

In [13]:
S=(1,2,3,4,5,6,7,8,9,10)
print(S.index(7))

6

In [14]:
p=()
p

()

In [15]:
print(type(p))

<class 'tuple'>

In [16]:
a=(10,'sai',[1,2,3],67,['python'])
print(a)
print(type(a))

(10, 'sai', [1, 2, 3], 67, ['python'])
<class 'tuple'>

In [17]:
x=(1,2,['satish','sai'],256.78,(24,25,89))
print(x)
print(type(x))

(1, 2, ['satish', 'sai'], 256.78, (24, 25, 89))
<class 'tuple'>

In [18]:
mytuple=1,2,3
print(mytuple)

(1, 2, 3)

In [19]:
str=10,245.67,'sai'
print(str)

(10, 245.67, 'sai')

In [20]:
print(type(str))

<class 'tuple'>

In [21]:
#Creating a Tuple With One Item

a=(10,)
print(a)
print(type(a))

b=('hello')
print(b)
print(type(b))

(10,)
<class 'tuple'>
hello
<class 'str'>

In [22]:
mytuple=('python',)
print(mytuple)
print(type(mytuple))

str=(25)
print(str)
print(type(str))

('python',)
<class 'tuple'>
25
<class 'int'>

In [23]:
mytuple=('python',)
print(mytuple)
print(type(mytuple))

str=(255.67)
print(str)
print(type(str))

('python',)
<class 'tuple'>
255.67
<class 'float'>

In [26]:
# tuple in forward index

P=(1,6,9,25,45,67,55,2,4)
print(P[4])
print(P[6])

45
55

In [27]:
# tuple in backward index 

y=(1,24,35,4,5,66,89,100)
print(y[-4])
print(y[-6])

5
35

In [1]:
# slicing
int=(1,45,67,89,10,45,3,46,2)
print(int[2:5])

(67, 89, 10)